<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>nutrition-facts-expand Demo</title>
  <script src="../../webcomponentsjs/webcomponents.min.js" async></script>
  <link rel="import" href="../nutrition-facts-expand.html" async>
  <link rel="stylesheet" type="text/css" href="./style.css" async>

</head>
<body>
  <div class="container">
    <nutrition-facts-expand serving-size="2 slices (13g)" servings="10" calories="70" fat-cal="60" total-fat="6" sat-fat="2.5" cholestrol="10" sodium="210" protein="4"></nutrition-facts-expand>
  </div>
</body>
</html>
